<!--
  == This software is subject to the terms of the Eclipse Public License v1.0
  == Agreement, available at the following URL:
  == http://www.eclipse.org/legal/epl-v10.html.
  == You must accept the terms of that agreement to use this software.
  ==
  == Copyright (C) 2001-2005 Julian Hyde
  == Copyright (C) 2005-2007 Pentaho and others
  == All Rights Reserved.
  -->

<!-- Cruise control configuration file to setup mondrian cruise control project-->

<cruisecontrol>

    <project name="Mondrian" requiremodification="true">
    
    	
    
 	<!--Mondrian root Directory-->   
    	<property name="project.root.dir"  value="C:\CruiseControl\projects\mondrian\open\mondrian"/>
    	
    	<!--Directory in which cruise control logs will be stored-->   
    	<property name="project.log.dir"  value="C:\CruiseControl\logs\mondrian"/>
    	
    	<property name="perforce.client"  value="guest.cruise"/>
    	
    	<property name="perforce.server"  value="perforce.eigenbase.org:1666"/>
    	
    	<property name="perforce.user"  value="guest"/>
    	


        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <p4bootstrapper port="${perforce.server}"
                            client="${perforce.client}"
                            user="${perforce.user}"
                            view="${project.root.dir}\..."/>
        </bootstrappers>

        <modificationset quietperiod="30" >
	    <p4 port="${perforce.server}" 
	    	client="${perforce.client}" 
	    	user="${perforce.user}" 
	    	view="${project.root.dir}\..."/>
        </modificationset>

        <schedule interval="300">
	    <ant anthome="apache-ant-1.6.5" 
	    	 antWorkingDir="${project.root.dir}"
	    	 buildfile="build.xml" 
	    	 target="all junit-main" 
	    	 uselogger="true"
	    	 saveLogDir="${project.log.dir}">
		    <jvmarg arg="-Xmx512m"/>
		    <jvmarg arg="-Xmx512m"/>	      
	    </ant>
        </schedule>

        <log>
            <merge dir="${project.root.dir}\junit-results"/>            
        </log>

        <publishers>
        </publishers>

    </project>
</cruisecontrol>
