dev-lib
dist

*.jar
*.log
*.log.*
*~
VERSION.txt
functions.html
*.properties
scratch.txt

.idea
mondrian.iml
target/
classes/
demo/derby/foodmart/
doc/properties.html
doc/xml_schema.html
doc/api
doc/headapi
junit-results/
lib/aggregates.dtd
lib/datasourcesconfig.dtd
lib/jpivot.war
lib/mondrian.dtd
lib/mondrian3.dtd
mondrian.properties.template

