/*
// $Id$
// This software is subject to the terms of the Common Public License
// Agreement, available at the following URL:
// http://www.opensource.org/licenses/cpl.html.
// (C) Copyright 2002 Kana Software, Inc. and others.
// All Rights Reserved.
// You must accept the terms of that agreement to use this software.
// jhyde, 23 September, 2002
// 
// Global style-sheet for mondrian project.
*/

a:link {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a:visited {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.nav:link {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.nav:visited {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.body:link {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.body:visited {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.purple:link {
/*  color: #990099; */
  color: #C8A8FF;
  text-decoration: none;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.purple:visited {
/*  color: #990099; */
  color: #C8A8FF;
  text-decoration: none;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.td:link {
  color: #990000;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.td:visited {
  color: #990000;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.subnav:link {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

a.subnav:visited {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

dl {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

dt {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

dd {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

td.content {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

td.collcontent {
  color: #000000;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.subtitle1 {
  color: #990000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.subtitle2 {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.subtitle3 {
  color: #990000;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.subtitle4 {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.subtitle5 {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.colldate {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  font-style: oblique;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

span.highlight {
  background-color: #eeeeee;
}

textarea {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

p {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

p.award {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

p.coll {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
  color: #990000;
  text-decoration: bold;
  font-size: 24px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h2 {
  color: #990000;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h3 {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h4 {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h5 {
  color: #990000;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}

ul {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, helvetica, arial, sans-serif;
}

ul.coll {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, helvetica, arial, sans-serif;
}

li {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, helvetica, arial, sans-serif;
}

ol {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  font-family: verdana, helvetica, arial, sans-serif;
}

ol.coll {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  font-family: verdana, helvetica, arial, sans-serif;
}

.footer {
  color: #990000;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}

PRE {
  background:#EEEEEE;
  margin-top:1em;	margin-bottom:1em; margin-left:0px;
  padding:5pt;
}

PRE.clsCode, CODE.clsText { font-family:'courier new',courier,serif; font-size:130%; }

PRE.clsSyntax { font-family:verdana,arial,helvetica,sans-serif; font-size:120%; }

/* End style.css */
/* End DesignDoc.css */
