<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.1.0"
           xsi:schemaLocation="
            http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
            http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://aries.apache.org/schemas/blueprint-cm/blueprint-cm-1.1.0.xsd
            http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.1.0 http://aries.apache.org/schemas/blueprint-ext/blueprint-ext-1.1.xsd"
            default-timeout="20000"
            default-activation="eager">

  <bean class="mondrian.osgi.PropertiesService" id="props">
    <!-- inject properties -->
    <property name="properties">
      <cm:cm-properties persistent-id="mondrian"/>
    </property>

    <!-- re-inject properties on update -->
    <cm:managed-properties persistent-id="mondrian" update-strategy="container-managed"
                           update-method="setProperties"/>
  </bean>

  <!-- Declare then publish Mondrian Olap4J Driver -->
  <bean class="mondrian.olap4j.MondrianOlap4jDriver" id="driver"/>

  <service interface="java.sql.Driver" ref="driver">
    <service-properties>
      <entry key="name" value="mondrian4"/>
    </service-properties>
  </service>

</blueprint>


